
body{
    background-color: rgba(199, 199, 199, 0.322);
}
.main-container{
    /* background-color: blue; */
    margin: auto;
    width: 60%;
    height: 86vh;
    box-shadow: 0px 0px 10px 0px rgba(66, 65, 65, 0.438);
    background-color: rgba(255, 255, 255, 0.685);
    overflow: auto;
}

.card-container{
    width: 100%;
    /* scroll-behavior: smooth;
    height: 92vh; */
}
.footer{
    position: fixed;
    width: 59.2%;
    bottom: 5%;
    background-color: #EB81EE;
    box-shadow: 0px 0px 10px 0px rgba(66, 65, 65, 0.438);
}

@media only screen and (max-width: 700px) {
    .main-container{
        width: 100% !important;
    }
    .left-card-body{
         width: 100% !important;
         padding: 0px 0px 0px 10px;
    }
    .card-body {
        display: grid !important;
        width: 100% !important;
    }
    .product-img{
        height: 20vh !important;
         width: 90% !important;
    }
    .main-card {
        padding: 2% 0% 1% 0% !important;
    }
    .product-off-text{
        font-size: 13px !important;
        text-align: center;
        font-weight: bold !important;
    }
    .product-brand{
        font-size: 18px !important;
        text-align: center;
    }
    .product {
        padding: 0px 0px 5px 20px !important;
        font-size: 14px !important;
    }
    .product-qty{
        width: 10%;
        float: left;
    }
    .product-mrp{
        width: 50%;
        float: left;
        text-align: center
    }
    .product-btns{
        padding: 0px 0px 5px 20px !important;
    }
    .footer {
        width: 96% !important;
    }
    .footer-left{
        font-size: 15px !important;
    }
    .btn-rectangle{
        padding: 5px 10px 5px 15px !important;
    }
}

